/* variables  */

:root {
  --blue: #01415b;
  --yellow: #f2be22;
  --white: white;
}

header {
  padding: 2em 0 2em 0;
  background-color: var(--blue);
}

.navbar {
  padding: 1.7em 0 1.7em 0;
}

.navbar-header {
  font-family: "Oswald", "Roboto";
  margin-bottom: 1.5rem;
}

.navbar-brand {
  font-size: 2.5rem !important;
  font-family: "Nunito";
  color: var(--white) !important;
}

.nav-item a:hover {
  color: var(--yellow);
}

.nav-tabs {
  border-color: var(--blue) !important;
}
